---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
interface Props {
	titre: string;
}
const { titre } = Astro.props;
// Autres options possibles :
// const props.titre = Astro.props.titre;
// const props = Astro.props;
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{titre} | Site de films</title>
	</head>
	<body class="bg-slate-50 min-h-screen">
		<Header />
		<main class="container mx-auto px-6 py-12">
			<slot />
		</main>
		<Footer />
	</body>
</html>
